<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="arm_description">
    <xacro:include filename="$(find arm_description)/urdf/arm.urdf.xacro" />
    <xacro:include filename="$(find arm_description)/urdf/desk.urdf.xacro" />
    <xacro:include filename="$(find arm_description)/urdf/pallet.urdf.xacro" />

    <xacro:desk />
    <!-- <xacro:pallet /> -->

    <joint name="block_arm_joint" type="fixed">
    <origin xyz="0 0 0.07" rpy="0 0 0"/>
    <parent link="bolck_link"/>
    <child link="base_link"/>
    </joint>

</robot>