<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="arm_description">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="1.1789E-36 -3.269E-20 0.0049846"
        rpy="0 0 0" />
      <mass
        value="0.17174" />
      <inertia
        ixx="9.3584E-05"
        ixy="-3.2901E-39"
        ixz="-8.13E-40"
        iyy="9.3584E-05"
        iyz="2.3703E-23"
        izz="0.00018431" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_description/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_description/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="shoulder_link">
    <inertial>
      <origin
        xyz="2.844E-09 -0.0018983 0.088853"
        rpy="0 0 0" />
      <mass
        value="0.96068" />
      <inertia
        ixx="0.0026125"
        ixy="-5.235E-10"
        ixz="-2.5725E-10"
        iyy="0.002564"
        iyz="0.00011151"
        izz="0.0003434" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_description/meshes/shoulder_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.31765 1 0.91765 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_description/meshes/shoulder_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="base_joint"
    type="revolute">
    <origin
      xyz="0 0 0.01"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="shoulder_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="arm_link_1">
    <inertial>
      <origin
        xyz="3.99321170061077E-07 0.00243945434428174 0.10000016404977"
        rpy="0 0 0" />
      <mass
        value="1.49514311129629" />
      <inertia
        ixx="0.0092672086833684"
        ixy="-3.45316524239455E-08"
        ixz="2.128280625616E-08"
        iyy="0.00917221220256816"
        iyz="-8.41134008902218E-09"
        izz="0.000552274337038071" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_description/meshes/arm_link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_description/meshes/arm_link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="shoulder_joint"
    type="revolute">
    <origin
      xyz="0 -0.08 0.15"
      rpy="0 0 0" />
    <parent
      link="shoulder_link" />
    <child
      link="arm_link_1" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="arm_link_2">
    <inertial>
      <origin
        xyz="1.84935938307083E-07 -0.00142742297622724 0.0811160068194484"
        rpy="0 0 0" />
      <mass
        value="1.27771981813338" />
      <inertia
        ixx="0.00602979199459265"
        ixy="1.99665710014809E-09"
        ixz="3.61991807814648E-09"
        iyy="0.00598043834668597"
        iyz="-0.000147930160932861"
        izz="0.000443651831504686" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_description/meshes/arm_link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_description/meshes/arm_link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="arm_joint_12"
    type="revolute">
    <origin
      xyz="0 0.08 0.2"
      rpy="0 0 0" />
    <parent
      link="arm_link_1" />
    <child
      link="arm_link_2" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="wrist_link_1">
    <inertial>
      <origin
        xyz="0.00484427832761932 -1.19442283489963E-08 0.0299999925216045"
        rpy="0 0 0" />
      <mass
        value="0.376466363968247" />
      <inertia
        ixx="0.00015732940102775"
        ixy="2.42567535480483E-10"
        ixz="9.20593423415752E-11"
        iyy="0.00020045101820395"
        iyz="1.04465083118944E-10"
        izz="0.00015578083797655" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_description/meshes/wrist_link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_description/meshes/wrist_link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="arm_wrist_joint"
    type="revolute">
    <origin
      xyz="0 0 0.2"
      rpy="0 0 0" />
    <parent
      link="arm_link_2" />
    <child
      link="wrist_link_1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="wrist_link_2">
    <inertial>
      <origin
        xyz="-0.025 0.00476010124384936 -5.3487070328373E-10"
        rpy="0 0 0" />
      <mass
        value="0.213833773430547" />
      <inertia
        ixx="5.90471340191189E-05"
        ixy="-3.62696963816373E-20"
        ixz="5.85438282709314E-12"
        iyy="6.19132185170091E-05"
        iyz="1.83189050496876E-12"
        izz="7.58889080283275E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_description/meshes/wrist_link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.176470588235294 1 0.529411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_description/meshes/wrist_link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wrist_joint_12"
    type="revolute">
    <origin
      xyz="0.09 0 0.03"
      rpy="0 0 0" />
    <parent
      link="wrist_link_1" />
    <child
      link="wrist_link_2" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="wrist_link_3">
    <inertial>
      <origin
        xyz="0.0379528150536633 -0.00306208343475713 1.84945643244561E-08"
        rpy="0 0 0" />
      <mass
        value="0.332413101297219" />
      <inertia
        ixx="0.000271281133244879"
        ixy="-1.31842072075757E-05"
        ixz="-4.53971642475216E-12"
        iyy="0.000181807242336193"
        iyz="-7.12639945244701E-12"
        izz="0.000374581320728992" />
    </inertial>
    <visual>
      <origin
        xyz="-0.025 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_description/meshes/wrist_link_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.270588235294118 0.733333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="-0.025 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_description/meshes/wrist_link_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wrist_joint_23"
    type="revolute">
    <origin
      xyz="-0.025 0.06 0"
      rpy="0 0 0" />
    <parent
      link="wrist_link_2" />
    <child
      link="wrist_link_3" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="camera_arm_link">
    <inertial>
      <origin
        xyz="0.00017826 0 0"
        rpy="0 0 0" />
      <mass
        value="0.0065484" />
      <inertia
        ixx="6.6534E-07"
        ixy="-7.307E-23"
        ixz="8.7818E-23"
        iyy="3.9363E-07"
        iyz="3.4427E-18"
        izz="3.9363E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_description/meshes/camera_arm_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_description/meshes/camera_arm_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="camera_arm_joint"
    type="fixed">
    <origin
      xyz="0.0630000000000002 0 0"
      rpy="0 0 0" />
    <parent
      link="wrist_link_3" />
    <child
      link="camera_arm_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="fork_link_L">
    <inertial>
      <origin
        xyz="0.0838063514804203 -2.86229373536173E-17 -1.11022302462516E-16"
        rpy="0 0 0" />
      <mass
        value="0.1017684" />
      <inertia
        ixx="9.16838352000001E-06"
        ixy="1.22288262139147E-19"
        ixz="-3.42386883861619E-20"
        iyy="0.000344761994950531"
        iyz="6.80000137608049E-22"
        izz="0.000350846390950531" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_description/meshes/fork_link_L.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.941176470588235 0.929411764705882 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_description/meshes/fork_link_L.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="fork_joint_L"
    type="fixed">
    <origin
      xyz="0.0645000000000001 -0.0544327264438395 0"
      rpy="0 0 0" />
    <parent
      link="wrist_link_3" />
    <child
      link="fork_link_L" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="fork_link_R">
    <inertial>
      <origin
        xyz="0.083806 -8.3267E-17 1.1102E-16"
        rpy="0 0 0" />
      <mass
        value="0.10177" />
      <inertia
        ixx="9.1684E-06"
        ixy="3.1477E-19"
        ixz="-6.1321E-19"
        iyy="0.00034476"
        iyz="-1.8194E-21"
        izz="0.00035085" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_description/meshes/fork_link_R.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.94118 0.92941 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_description/meshes/fork_link_R.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="fork_joint_R"
    type="fixed">
    <origin
      xyz="0.0645000000000003 0.0544327264438282 0"
      rpy="0 0 0" />
    <parent
      link="wrist_link_3" />
    <child
      link="fork_link_R" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>