<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->



<robot name="arm_description" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="use_gazebo" default="false" />
  <xacro:arg name="include_world_joint" default="true" />
  <xacro:include filename="$(find arm_description)/urdf/arm_description.ros2_control.xacro" />

  <!-- Use the same fixed base transform in Gazebo, MoveIt, and robot_state_publisher. -->
  <xacro:if value="$(arg include_world_joint)">
    <link name="world" />
    <joint name="gazebo_world_joint" type="fixed">
      <origin xyz="-0.25 0.1 0.275" rpy="0 0 0" />
      <parent link="world" />
      <child link="base_link" />
    </joint>
  </xacro:if>
  
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="1.1789E-36 -3.269E-20 0.0049846"
        rpy="0 0 0" />
      <mass
        value="0.17174" />
      <inertia
        ixx="9.3584E-05"
        ixy="-3.2901E-39"
        ixz="-8.13E-40"
        iyy="9.3584E-05"
        iyz="2.3703E-23"
        izz="0.00018431" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_description/meshes/arm/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_description/meshes/arm/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="shoulder_link">
    <inertial>
      <origin
        xyz="1.3529E-07 0.00018621 0.085433"
        rpy="0 0 0" />
      <mass
        value="0.90979" />
      <inertia
        ixx="0.0023552"
        ixy="-7.2006E-11"
        ixz="-6.7195E-09"
        iyy="0.0023529"
        iyz="-1.0941E-05"
        izz="0.00028703" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_description/meshes/arm/shoulder_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.31765 1 0.91765 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_description/meshes/arm/shoulder_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="base_joint"
    type="revolute">
    <origin
      xyz="0 0 0.01"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="shoulder_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="50"
      velocity="1.5" />
  </joint>
  <link
    name="arm_link_1">
    <inertial>
      <origin
        xyz="-0.12356 -0.0039664 0.008897"
        rpy="0 0 0" />
      <mass
        value="1.7751" />
      <inertia
        ixx="0.00085052"
        ixy="-0.00032685"
        ixz="0.0010043"
        iyy="0.014556"
        iyz="2.3539E-05"
        izz="0.014725" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_description/meshes/arm/arm_link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_description/meshes/arm/arm_link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="shoulder_joint"
    type="revolute">
    <origin
      xyz="0 0.065 0.15"
      rpy="0 0 0" />
    <parent
      link="shoulder_link" />
    <child
      link="arm_link_1" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-3.14"
      upper="0.3"
      effort="50"
      velocity="1.5" />
  </joint>
  <link
    name="arm_link_2">
    <inertial>
      <origin
        xyz="0.069958 0.0038771 0.032231"
        rpy="0 0 0" />
      <mass
        value="1.3456" />
      <inertia
        ixx="0.0016571"
        ixy="0.00036495"
        ixz="-0.0022841"
        iyy="0.006418"
        iyz="0.00016813"
        izz="0.0055625" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_description/meshes/arm/arm_link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_description/meshes/arm/arm_link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="arm_joint_12"
    type="revolute">
    <origin
      xyz="-0.22941 -0.12 0.016519"
      rpy="0 0 0" />
    <parent
      link="arm_link_1" />
    <child
      link="arm_link_2" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-1.1"
      upper="3.14"
      effort="50"
      velocity="1.5" />
  </joint>
  <link
    name="wrist_link_1">
    <inertial>
      <origin
        xyz="0.027247 -0.0048443 0.012553"
        rpy="0 0 0" />
      <mass
        value="0.37647" />
      <inertia
        ixx="0.0001636"
        ixy="-1.8511E-10"
        ixz="-1.6977E-05"
        iyy="0.00015733"
        iyz="1.8179E-10"
        izz="0.00019263" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_description/meshes/arm/wrist_link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_description/meshes/arm/wrist_link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="arm_wrist_joint"
    type="revolute">
    <origin
      xyz="0.18165 0 0.083688"
      rpy="0 0 0" />
    <parent
      link="arm_link_2" />
    <child
      link="wrist_link_1" />
    <axis
      xyz="0.90824 0 0.41844" />
    <limit
      lower="-2.1"
      upper="2.1"
      effort="50"
      velocity="1.5" />
  </joint>
  <link
    name="wrist_link_2">
    <inertial>
      <origin
        xyz="0.0047601 0.025 -5.3504E-10"
        rpy="0 0 0" />
      <mass
        value="0.21383" />
      <inertia
        ixx="6.1913E-05"
        ixy="-5.4902E-21"
        ixz="1.8319E-12"
        iyy="5.9047E-05"
        iyz="-5.8544E-12"
        izz="7.5889E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_description/meshes/arm/wrist_link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.17647 1 0.52941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_description/meshes/arm/wrist_link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wrist_joint_12"
    type="revolute">
    <origin
      xyz="0.027247 -0.09 0.012553"
      rpy="0 0 0" />
    <parent
      link="wrist_link_1" />
    <child
      link="wrist_link_2" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-2.1"
      upper="2.1"
      effort="50"
      velocity="1.5" />
  </joint>
  <link
    name="wrist_link_3">
    <inertial>
      <origin
        xyz="0.039939 -1.1351E-13 -1.7214E-13"
        rpy="0 0 0" />
      <mass
        value="0.28823" />
      <inertia
        ixx="0.00024443"
        ixy="1.3258E-19"
        ixz="1.023E-20"
        iyy="0.00016365"
        iyz="7.1532E-20"
        izz="0.00034072" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_description/meshes/arm/wrist_link_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.27059 0.73333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_description/meshes/arm/wrist_link_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wrist_joint_23"
    type="revolute">
    <origin
      xyz="0.03 0.025 0"
      rpy="0 0 0" />
    <parent
      link="wrist_link_2" />
    <child
      link="wrist_link_3" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-2.1"
      upper="2.1"
      effort="50"
      velocity="1.5" />
  </joint>
  <link
    name="camera_arm_link">
    <inertial>
      <origin
        xyz="0.00017826 4.5935E-15 -1.3661E-13"
        rpy="0 0 0" />
      <mass
        value="0.0065484" />
      <inertia
        ixx="6.6534E-07"
        ixy="-1.0694E-22"
        ixz="6.6582E-23"
        iyy="3.9363E-07"
        iyz="3.4425E-18"
        izz="3.9363E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_description/meshes/arm/camera_arm_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_description/meshes/arm/camera_arm_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="camera_arm_joint"
    type="fixed">
    <origin
      xyz="0.063 0 0"
      rpy="0 0 0" />
    <parent
      link="wrist_link_3" />
    <child
      link="camera_arm_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="fork_link_L">
    <inertial>
      <origin
        xyz="0.0617089046653031 -1.31922250901084E-13 -1.46049838889439E-13"
        rpy="0 0 0" />
      <mass
        value="0.0693281249999999" />
      <inertia
        ixx="6.48397265624999E-06"
        ixy="1.38540255329749E-20"
        ixz="-1.57798644040829E-20"
        iyy="0.00014643481569026"
        iyz="-7.23277499173644E-22"
        izz="0.00015034264381526" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_description/meshes/arm/fork_link_L.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.941176470588235 0.929411764705882 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_description/meshes/arm/fork_link_L.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="fork_joint_L"
    type="fixed">
    <origin
      xyz="0.064500000000022 -0.0450000000000456 0"
      rpy="0 0 0" />
    <parent
      link="wrist_link_3" />
    <child
      link="fork_link_L" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="fork_link_R">
    <inertial>
      <origin
        xyz="0.061708904665476 -9.50489686957212E-14 -1.31838984174237E-13"
        rpy="0 0 0" />
      <mass
        value="0.0693281250000001" />
      <inertia
        ixx="6.48397265625001E-06"
        ixy="1.26345997789801E-19"
        ixz="-2.76932720286031E-19"
        iyy="0.000146434815690261"
        iyz="-1.49858148504424E-21"
        izz="0.000150342643815261" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_description/meshes/arm/fork_link_R.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.941176470588235 0.929411764705882 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_description/meshes/arm/fork_link_R.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="fork_joint_R"
    type="fixed">
    <origin
      xyz="0.0644999999998493 0.0459999999999174 0"
      rpy="0 0 0" />
    <parent
      link="wrist_link_3" />
    <child
      link="fork_link_R" />
    <axis
      xyz="0 0 0" />
  </joint>
  <xacro:arm_description_ros2_control
  name="Arm"
  initial_positions_file=""
  use_gazebo="$(arg use_gazebo)" />

  <!-- REP-103 optical frame: z forward, x right, y down. -->
  <link name="camera_optical_link" />
  <joint name="camera_optical_joint" type="fixed">
    <origin xyz="0 0 0" rpy="-1.57079632679 0 -1.57079632679" />
    <parent link="camera_arm_link" />
    <child link="camera_optical_link" />
  </joint>

  <gazebo reference="camera_arm_link">
    <sensor name="camera" type="camera">
            <always_on>true</always_on>
      <visualize>true</visualize>
      <update_rate>30.0</update_rate>

      <!-- 相机相对 camera_arm_link 的位置和朝向，可按模型调整 -->
      <pose>0 0 0 0 0 0</pose>

      <camera name="camera">
        <!-- 约 80 度水平视场角 -->
        <horizontal_fov>1.3962634</horizontal_fov>

        <image>
          <width>640</width>
          <height>480</height>
          <format>R8G8B8</format>
        </image>

        <clip>
          <near>0.05</near>
          <far>10.0</far>
        </clip>

        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.007</stddev>
        </noise>
      </camera>

      <plugin
        name="camera_controller"
        filename="libgazebo_ros_camera.so">
        <camera_name>camera</camera_name>
        <frame_name>camera_optical_link</frame_name>
      </plugin>
    </sensor>
  </gazebo>

  <xacro:if value="$(arg use_gazebo)">
    <gazebo>
      <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
        <robot_param>robot_description</robot_param>
        <robot_param_node>robot_state_publisher</robot_param_node>
        <parameters>$(find robot_bringup)/config/ros2_controllers.yaml</parameters>
      </plugin>
    </gazebo>

    <gazebo reference="base_link">
      <material>Gazebo/Orange</material>
    </gazebo>

    <gazebo reference="shoulder_link">
      <material>Gazebo/Orange</material>
    </gazebo>
    <gazebo reference="arm_link_1">
      <material>Gazebo/Orange</material>
    </gazebo>
    <gazebo reference="arm_link_2">
      <material>Gazebo/Orange</material>
    </gazebo>
    <gazebo reference="wrist_link_1">
      <material>Gazebo/Orange</material>
    </gazebo>
    <gazebo reference="wrist_link_2">
      <material>Gazebo/Orange</material>
    </gazebo>
    <gazebo reference="wrist_link_3">
      <material>Gazebo/Orange</material>
    </gazebo>
    <gazebo reference="camera_arm_link">
      <material>Gazebo/Orange</material>
    </gazebo>
    <gazebo reference="fork_link_L">
      <material>Gazebo/Orange</material>
      <mu1>1.0</mu1>
      <mu2>1.0</mu2>
      <kp>1000000.0</kp>
      <kd>100.0</kd>
      <minDepth>0.001</minDepth>
      <maxVel>0.01</maxVel>
    </gazebo>
    <gazebo reference="fork_link_R">
      <material>Gazebo/Orange</material>
      <mu1>1.0</mu1>
      <mu2>1.0</mu2>
      <kp>1000000.0</kp>
      <kd>100.0</kd>
      <minDepth>0.001</minDepth>
      <maxVel>0.01</maxVel>
    </gazebo>
  </xacro:if>

</robot>
