<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="desk">
    <link
      name="desk_link">
      <inertial>
        <origin
          xyz="0.26330028162089 4.70495183503534E-05 0.41757762572946"
          rpy="0 0 0" />
        <mass
          value="175.56800657568" />
        <inertia
          ixx="15.1168947961039"
          ixy="0.00340084138859789"
          ixz="0.184078944732021"
          iyy="15.3169560302271"
          iyz="-0.000325921549303988"
          izz="11.6240723783388" />
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://arm_description/meshes/desk/desk_link.STL" />
        </geometry>
        <material
          name="">
          <color
            rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
        </material>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://arm_description/meshes/desk/desk_link.STL" />
        </geometry>
      </collision>
    </link>
    <link
      name="place_1_link">
      <inertial>
        <origin
          xyz="2.77555756156289E-17 0 0.00100000000000006"
          rpy="0 0 0" />
        <mass
          value="0.0162" />
        <inertia
          ixx="1.09404E-05"
          ixy="1.67558837898401E-21"
          ixz="-6.3136903608619E-38"
          iyy="1.09404E-05"
          iyz="-4.19104843693536E-24"
          izz="2.187E-05" />
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://arm_description/meshes/desk/place_1_link.STL" />
        </geometry>
        <material
          name="">
          <color
            rgba="0.925490196078431 0.925490196078431 0.925490196078431 1" />
        </material>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://arm_description/meshes/desk/place_1_link.STL" />
        </geometry>
      </collision>
    </link>
    <joint
      name="place_1_joint"
      type="fixed">
      <origin
        xyz="0.229416554465602 0.19 0.478"
        rpy="0 0 1.5707963267949" />
      <parent
        link="desk_link" />
      <child
        link="place_1_link" />
      <axis
        xyz="0 0 0" />
    </joint>
    <link
      name="place_2_link">
      <inertial>
        <origin
          xyz="-2.77555756156289E-17 -2.77555756156289E-17 0.00100000000000006"
          rpy="0 0 0" />
        <mass
          value="0.0162" />
        <inertia
          ixx="1.09404E-05"
          ixy="5.17717379383552E-22"
          ixz="9.92616735063634E-24"
          iyy="1.09404E-05"
          iyz="2.9778502051909E-23"
          izz="2.187E-05" />
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://arm_description/meshes/desk/place_2_link.STL" />
        </geometry>
        <material
          name="">
          <color
            rgba="0.925490196078431 0.925490196078431 0.925490196078431 1" />
        </material>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://arm_description/meshes/desk/place_2_link.STL" />
        </geometry>
      </collision>
    </link>
    <joint
      name="place_2_joint"
      type="fixed">
      <origin
        xyz="0.229416554465603 -0.19 0.478"
        rpy="0 0 1.5707963267949" />
      <parent
        link="desk_link" />
      <child
        link="place_2_link" />
      <axis
        xyz="0 0 0" />
    </joint>
    <link
      name="place_3_link">
      <inertial>
        <origin
          xyz="2.77555756156289E-17 0 0.00100000000000001"
          rpy="0 0 0" />
        <mass
          value="0.0162" />
        <inertia
          ixx="1.09404E-05"
          ixy="-1.81238906016781E-21"
          ixz="3.30258329236758E-21"
          iyy="1.09404E-05"
          iyz="-1.36657436401424E-23"
          izz="2.187E-05" />
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://arm_description/meshes/desk/place_3_link.STL" />
        </geometry>
        <material
          name="">
          <color
            rgba="0.925490196078431 0.925490196078431 0.925490196078431 1" />
        </material>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://arm_description/meshes/desk/place_3_link.STL" />
        </geometry>
      </collision>
    </link>
    <joint
      name="place_3_joint"
      type="fixed">
      <origin
        xyz="0.229416554465602 0.19 0.078"
        rpy="0 0 1.5707963267949" />
      <parent
        link="desk_link" />
      <child
        link="place_3_link" />
      <axis
        xyz="0 0 0" />
    </joint>
    <link
      name="place_4_link">
      <inertial>
        <origin
          xyz="-2.77555756156289E-17 -2.77555756156289E-17 0.001"
          rpy="0 0 0" />
        <mass
          value="0.0162" />
        <inertia
          ixx="1.09404E-05"
          ixy="2.97655585495305E-21"
          ixz="-1.57211905468552E-22"
          iyy="1.09404E-05"
          iyz="5.84871176078965E-23"
          izz="2.187E-05" />
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://arm_description/meshes/desk/place_4_link.STL" />
        </geometry>
        <material
          name="">
          <color
            rgba="0.925490196078431 0.925490196078431 0.925490196078431 1" />
        </material>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://arm_description/meshes/desk/place_4_link.STL" />
        </geometry>
      </collision>
    </link>
    <joint
      name="place_4_joint"
      type="fixed">
      <origin
        xyz="0.229416554465603 -0.19 0.0779999999999999"
        rpy="0 0 1.5707963267949" />
      <parent
        link="desk_link" />
      <child
        link="place_4_link" />
      <axis
        xyz="0 0 0" />
    </joint>
    <link
      name="bolck_link">
      <inertial>
        <origin
          xyz="0 0 0.035"
          rpy="0 0 0" />
        <mass
          value="0.700000000000001" />
        <inertia
          ixx="0.000869166666666668"
          ixy="-6.39679281766446E-21"
          ixz="3.10876902924011E-20"
          iyy="0.000869166666666668"
          iyz="-1.65303893084384E-36"
          izz="0.00116666666666667" />
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://arm_description/meshes/desk/bolck_link.STL" />
        </geometry>
        <material
          name="">
          <color
            rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
        </material>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://arm_description/meshes/desk/bolck_link.STL" />
        </geometry>
      </collision>
    </link>
    <joint
      name="block_joint"
      type="fixed">
      <origin
        xyz="-0.25 0.19 0.005"
        rpy="0 0 0" />
      <parent
        link="desk_link" />
      <child
        link="bolck_link" />
      <axis
        xyz="0 0 0" />
    </joint>
    <link
      name="s_1_L">
      <inertial>
        <origin
          xyz="0.0061913 0.001 -0.00013874"
          rpy="0 0 0" />
        <mass
          value="0.0053851" />
        <inertia
          ixx="3.8704E-06"
          ixy="-2.0456E-21"
          ixz="-2.3702E-07"
          iyy="4.362E-06"
          iyz="-8.4608E-22"
          izz="4.9511E-07" />
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://arm_description/meshes/desk/s_1_L.STL" />
        </geometry>
        <material
          name="">
          <color
            rgba="0.97647 1 0.29412 1" />
        </material>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://arm_description/meshes/desk/s_1_L.STL" />
        </geometry>
      </collision>
    </link>
    <joint
      name="s_1_J"
      type="fixed">
      <origin
        xyz="0.40942 0.17674 0.65022"
        rpy="0 0 1.5708" />
      <parent
        link="desk_link" />
      <child
        link="s_1_L" />
      <axis
        xyz="0 0 0" />
    </joint>
    <link
      name="s_2_L">
      <inertial>
        <origin
          xyz="-2.7756E-17 0.0025 0"
          rpy="0 0 0" />
        <mass
          value="0.022" />
        <inertia
          ixx="2.1579E-05"
          ixy="-2.5789E-20"
          ixz="1.6E-06"
          iyy="2.8667E-05"
          iyz="5.062E-21"
          izz="7.1792E-06" />
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://arm_description/meshes/desk/s_2_L.STL" />
        </geometry>
        <material
          name="">
          <color
            rgba="0.97647 1 0.29412 1" />
        </material>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://arm_description/meshes/desk/s_2_L.STL" />
        </geometry>
      </collision>
    </link>
    <joint
      name="s_2_J"
      type="fixed">
      <origin
        xyz="0.40942 -0.19 0.65"
        rpy="0 0 1.5708" />
      <parent
        link="desk_link" />
      <child
        link="s_2_L" />
      <axis
        xyz="0 0 0" />
    </joint>
    <link
      name="s_3_L">
      <inertial>
        <origin
          xyz="-0.0036364 0.0025 0"
          rpy="0 0 0" />
        <mass
          value="0.022" />
        <inertia
          ixx="2.1579E-05"
          ixy="-2.4788E-20"
          ixz="-2.3193E-21"
          iyy="2.8376E-05"
          iyz="-2.4423E-22"
          izz="6.8883E-06" />
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://arm_description/meshes/desk/s_3_L.STL" />
        </geometry>
        <material
          name="">
          <color
            rgba="0.97647 1 0.29412 1" />
        </material>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://arm_description/meshes/desk/s_3_L.STL" />
        </geometry>
      </collision>
    </link>
    <joint
      name="s_3_J"
      type="fixed">
      <origin
        xyz="0.40942 0.19 0.25"
        rpy="0 0 1.5708" />
      <parent
        link="desk_link" />
      <child
        link="s_3_L" />
      <axis
        xyz="0 0 0" />
    </joint>
    <link
      name="s_4_L">
      <inertial>
        <origin
          xyz="0.0055937 0.0025 0.0073044"
          rpy="0 0 0" />
        <mass
          value="0.010984" />
        <inertia
          ixx="5.1745E-06"
          ixy="-6.3019E-21"
          ixz="2.0561E-07"
          iyy="7.0614E-06"
          iyz="7.693E-22"
          izz="1.9327E-06" />
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://arm_description/meshes/desk/s_4_L.STL" />
        </geometry>
        <material
          name="">
          <color
            rgba="0.97647 1 0.29412 1" />
        </material>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://arm_description/meshes/desk/s_4_L.STL" />
        </geometry>
      </collision>
    </link>
    <joint
      name="s_4_J"
      type="fixed">
      <origin
        xyz="0.40942 -0.20085 0.235"
        rpy="0 0 1.5708" />
      <parent
        link="desk_link" />
      <child
        link="s_4_L" />
      <axis
        xyz="0 0 0" />
    </joint>
  </xacro:macro>
</robot>